@import "tailwindcss";
@import "uniwind";

:root {
  --background: oklch(96% 0 0);
  --foreground: oklch(20% 0 0);
  --card: oklch(100% 0 0);
  --card-foreground: oklch(20% 0 0);
  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(20% 0 0);
  --primary: oklch(90.5% 0.182 98.111);
  --primary-foreground: oklch(20% 0 0);
  --secondary: oklch(95% 0 0);
  --secondary-foreground: oklch(20% 0 0);
  --muted: oklch(90% 0 0);
  --muted-foreground: oklch(50% 0 0);
  --accent: oklch(70% 0.15 35);
  --accent-foreground: oklch(100% 0 0);
  --destructive: oklch(65% 0.2 25);
  --destructive-foreground: oklch(100% 0 0);
  --border: oklch(90% 0 0);
  --input: oklch(100% 0 0);
  --ring: oklch(85.2% 0.199 91.936);
  --radius: 0.5rem;
}

.dark {
  --background: oklch(10% 0 0);
  --foreground: oklch(96% 0 0);
  --card: oklch(20% 0 0);
  --card-foreground: oklch(96% 0 0);
  --popover: oklch(25% 0 0);
  --popover-foreground: oklch(96% 0 0);
  --primary: oklch(90.5% 0.182 98.111);
  --primary-foreground: oklch(20% 0 0);
  --secondary: oklch(25% 0 0);
  --secondary-foreground: oklch(96% 0 0);
  --muted: oklch(35% 0 0);
  --muted-foreground: oklch(70% 0 0);
  --accent: oklch(75% 0.15 40);
  --accent-foreground: oklch(100% 0 0);
  --destructive: oklch(70% 0.12 20);
  --destructive-foreground: oklch(100% 0 0);
  --border: oklch(22% 0 0);
  --input: oklch(18% 0 0);
  --ring: oklch(85.2% 0.199 91.936);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 0.125rem);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) + 0.25rem);
  --radius-xl: calc(var(--radius) + 0.5rem);
}
